= render partial: "nav"
= render partial: "current_competition_table", locals: { competition: @league }

- @league.events.reverse.each do |event|
  %h3= event.name
  = render partial: "past_competition_table", locals: { people: @league.people, event: event }
%br
%br
%br
%br
%br
= link_to('OTHER LEAGUES', leagues_path)
= link_to('CHECK IN', new_checkin_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom button-link') unless ENV['QUIET_MODE']
