= render partial: "nav"

%h1{class: 'text-center'}= "#{@league.name}"
%h2{class: 'text-center'}= @league.tagline
- unsorted_people = @league.people
- people = Person.ordered_by_up_by(unsorted_people)
= render partial: "primary_leaderboard", locals: { people: people }
- @league.events.each do |event|
  - event_people = Person.ordered_by_up_by(@league.people, event)
  %h3= event.name
  = render partial: "secondary_leaderboard", locals: { people: event_people, event: event }
-# - @league.events.reverse.each do |event|
-#   %h3= event.name
-#   = render partial: "past_competition_table", locals: { people: @league.people, event: event }
-# %br
-# %br
-# %br
-# %br
-# %br
-# = link_to('OTHER LEAGUES', leagues_path)
-# = link_to('CHECK IN', new_checkin_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom button-link') unless ENV['QUIET_MODE']
