= render partial: "nav"

%h1{class: 'text-center'}= "#{@league.name}"
%h2{class: 'text-center'}= @league.tagline
- people = Person.ordered_by_up_by(@league.people)
= render partial: "primary_leaderboard", locals: { people: people }
- @league.events.each do |event|
  - event_people = Person.ordered_by_up_by(@league.people, event)
  %h3= event.name
  = render partial: "primary_leaderboard", locals: { people: event_people, event: event }
