= render partial: "nav"

- if @current_event
  %h1{class: 'text-center'}= "WEIGH-IN #{@event.name}"
- else
  %h1{class: 'text-center'}= "FINAL RESULTS OF #{@event.name}"
%h2{class: 'text-center'}= @event.tagline
- people = Person.ordered_by_up_by(@event.people, @event)
= render partial: "primary_leaderboard", locals: { people: people, display_league: true }
%br
- leagues = people.group_by(&:league)
- leagues.each do |league, league_people|
  %h3= league.name
  = render partial: "primary_leaderboard", locals: { people: league_people }
%br
%br
%br
%br
= link_to('CHECK IN', new_checkin_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom button-link') unless ENV['QUIET_MODE'] if @current_event
