= render partial: "nav"
%h2 #{@event.name}
%h3 All Participants
= render partial: "past_competition_table", locals: { people: @event.people, event: @event }
%br
- @event.leagues.each do |league|
  %h3= league.name
  = render partial: "past_competition_table", locals: { people: league.people, event: @event }
%br
%br
%br
%br
%br
%h3
  %a= link_to('< Back', people_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
