%h1{class: 'text-center'}= "WEIGH-IN #{competition.name}"
%h2{class: 'text-center'}= competition.tagline
%div{class: 'table-container'}
  %table{border: 0, class: 'table table-condensed borderless'}
    %tr
      %th{class: 'ordinal'}
      %th{class: 'text-left person-name'} NAME
      %th{class: 'text-right weight'} UP BY
    - Person.ordered_by_up_by(competition.people).each_with_index do |person, index|
      %tr
        %td{class: 'ordinal'}= index
        %td{class: 'person-name'}= link_to(person.name, person_path(person.id))
        - positive = person.up_by.to_f > 0 ? 'positive' : 'negative'
        - rounded_up_by = person.up_by.try(:round, 3)
        - rounded_percentage_change = person.percentage_change.round(2)
        - padded_percentage_change = sprintf("%+.2f", rounded_percentage_change)
        %td{class: "#{positive} text-right weight"}= "#{rounded_up_by} (#{padded_percentage_change}%)"
